---
const {} = Astro.props;
---

<sektion class="info_1">
  <div class="center-container">
    <img src="/images/h2ny.png" alt="overskrift" class="h2_ny" />
  </div>
  <p class="info_tekst1">
    Hos Pleasant er kærligheden til naturen lige så vigtig som kærligheden til godt lavet tøj og unikke styles. Vi ønsker ikke bare at gøre dig pleasant med vores unikke udvalg, men også sikre, at tøjet bliver produceret på en måde, der gør vores
    planet pleasant. <br />
    <br /> Hos Pleasant er kærligheden til naturen lige så vigtig som kærligheden til veludført tøj og unikke styles. Vi ønsker ikke bare at gøre dig pleasant.
  </p>

  <img src="/images/info_billed1.png" alt="pleasant billed" class="billed1" />
</sektion>

<sektion class="info_2">
  <img src="/images/toj.png" alt="toj" class="billed2" />

  <div class="mega_flex">
    <h2 class="overskrift2">Brug af upcyclede materialer</h2>
    <p class="info_tekst2">
      Ved hjælp af upcycling tager vi et eksisterende produkt og forvandler det til noget nyt med højere værdi. Vi bruger genanvendte dynebetræk, gardiner og duge, som allerede har været igennem flere livscyklusser, og giver dem nyt liv i form af tøj
      med en helt særlig stil.
    </p>
    <div></div>
  </div>

  <style>
    .center-container {
      position: relative;
    }

    .h2_ny {
      position: absolute;
      left: 65%;
      width: 70%;
    }

    .info_1 {
      display: grid;
      grid-template-columns: 1fr;
      width: 100%;
      padding: 2rem;
    }
    .info_tekst1 {
      display: grid;
      font-size: 1.4rem;
      color: #333;
      font-family: "new-spirit", serif;
      line-height: 1.5;
      width: 90%;
    }
    .billed1 {
      display: grid;
      width: 70%;
      height: auto;
      padding: 2rem;
    }
    .info_2 {
      display: flex;
      gap: 2rem;
      font-family: "new-spirit", serif;
    }
    .overskrift2 {
      font-size: 2rem;
    }
    .info_tekst2 {
      font-size: 1.4rem;
      line-height: 1.5;
    }
    .billed2 {
      width: 50vw;
      height: 0 auto;
      object-fit: cover;
    }

    @media (max-width: 431px) {
      .h2_ny {
        left: 10%;
      }

      img.billed2 {
        order: 3;
      }
      .info_2 {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        place-items: center;
        font-family: "new-spirit", serif;
      }
      .overskrift2 {
        text-align: center;
        font-size: 2rem;
      }
      .info_tekst2 {
        padding: 10px;
        font-size: 1.4rem;
        max-width: 350px;
        place-self: center;
        padding-left: 2rem;
        line-height: 1.5;
      }
      .billed2 {
        grid-column: 1 / 2;
        grid-row: 1;
        width: 85%;
      }
    }
    @media (min-width: 431px) {
      .info_1 {
        grid-template-columns: 1fr 1fr;
        width: 100%;
        height: auto;
      }
      .info_tekst1 {
        grid-column: 1 / 2;
        display: flex;
        font-size: 1.4rem;
        place-items: center;
      }
      .billed1 {
        grid-column: 2 / 3;
        justify-self: end;
        width: 85%;
        height: 100%;
        object-fit: cover;
      }
    }
    @media (width <= 850px) {
      .h2_ny {
        position: relative;
        width: 100%;
      }
    }
  </style>
</sektion>
