---
const {} = Astro.props;
---

<section class="singleview">
  <img src="/images/card1.png" alt="net" />
  <article class="container_produkt">
    <div class="tekst_overskrift">
      <h2>Unique Upcycled Bag</h2>
      <p>DKK 1595,-</p>
    </div>
    <div class="product-container">
      <label for="size">Choose a size:</label>
      <select id="size" class="size-selector">
        <option value="small">Small</option>
        <option value="medium">Medium</option>
        <option value="large">Large</option>
        <option value="xl">XL</option>
      </select>

      <button class="add-to-cart">Add to Cart</button>
    </div>
  </article>
</section>

<style></style>
